<div class="interactive-wrapper">
    <p>Suspendisse potenti. Maecenas velit urna, interdum eget elit eu, tempor tincidunt lacus. Sed eu rutrum ante, eget vestibulum nulla. Sed ac nisi non lorem lobortis aliquam. Integer nec orci vitae mi pharetra mollis. Fusce a tortor id lectus tempus ornare. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec sit amet enim nec enim interdum congue.</p>
    <p>In pellentesque arcu et ex accumsan, non interdum justo pellentesque. Nunc congue, mauris ut pretium lacinia, felis nisi congue ex, eget eleifend dui libero sed ex. Aliquam tempor, nisl vitae posuere dignissim, libero purus dictum tellus, ac fermentum elit quam a quam. </p>
    <div class="scroll-wrapper">
        <div class="scroll-inner">
            
        </div> 
        <div class="scroll-text">
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                    <img src="https://media.guim.co.uk/087af56b5b456a52eec220d2421aaabc58b252de/0_85_5472_3283/500.jpg">
                    <div class="vote-title">More than 27,000 Palestinians have been injured or killed since the protests began, with more than 260 killed</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at mattis quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus eu efficitur arcu, hendrerit pretium nibh. Sed id accumsan velit. Mauris pretium mi et pharetra laoreet. </p>
                </div> 
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                    <img src="https://media.guim.co.uk/c7c490f383e1d98e6b779248f6f5941cb57f9562/0_140_4200_2520/500.jpg">
                    <div class="vote-title">Women and children make up almost 30% of the Palestinians who have been injured and killed</div>
                    <p>Amongst those killed was 15-year-old Youssef Al-Daya, who was shot by the Israeli army during the 'Great March of Return' protests on 22 February.</p>
                </div> 
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                    <img src="https://media.guim.co.uk/b2044e48a6fa3bc5a4e497161d41aac7d8818ab3/0_342_5472_3283/500.jpg">
                    <div class="vote-title">May 2018 was the bloodiest month since the protests began, with more than 6,000 Palestinians injured or killed</div>
                    <p>Pictured is a Palestinian protester using a slingshot to hurl stones at Israeli troops in May 2018</p>
                </div> 
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                    <img src="https://media.guim.co.uk/4c6accaa6d2ea8111febd7af54e3b82be87d51a5/0_0_3200_2202/500.jpg">
                    <div class="vote-title">Palestinians have been killed by live ammunition, shrapnel and missiles launched from both land and air</div>
                    <p>Palestinian cyclist Alaa Al-Daly (pictured) lost his leg by a bullet fired by Israeli soldiers along the Gaza border in a demonstration</p>
                </div>
            </div>
        </div>
    </div>
    <p>In pellentesque arcu et ex accumsan, non interdum justo pellentesque. Nunc congue, mauris ut pretium lacinia, felis nisi congue ex, eget eleifend dui libero sed ex. Aliquam tempor, nisl vitae posuere dignissim, libero purus dictum tellus, ac fermentum elit quam a quam. </p>
    <p>In pellentesque arcu et ex accumsan, non interdum justo pellentesque. Nunc congue, mauris ut pretium lacinia, felis nisi congue ex, eget eleifend dui libero sed ex. Aliquam tempor, nisl vitae posuere dignissim, libero purus dictum tellus, ac fermentum elit quam a quam. </p>
    <p>In pellentesque arcu et ex accumsan, non interdum justo pellentesque. Nunc congue, mauris ut pretium lacinia, felis nisi congue ex, eget eleifend dui libero sed ex. Aliquam tempor, nisl vitae posuere dignissim, libero purus dictum tellus, ac fermentum elit quam a quam. </p>
    <p>In pellentesque arcu et ex accumsan, non interdum justo pellentesque. Nunc congue, mauris ut pretium lacinia, felis nisi congue ex, eget eleifend dui libero sed ex. Aliquam tempor, nisl vitae posuere dignissim, libero purus dictum tellus, ac fermentum elit quam a quam. </p>
    <p>In pellentesque arcu et ex accumsan, non interdum justo pellentesque. Nunc congue, mauris ut pretium lacinia, felis nisi congue ex, eget eleifend dui libero sed ex. Aliquam tempor, nisl vitae posuere dignissim, libero purus dictum tellus, ac fermentum elit quam a quam. </p>
    <p>In pellentesque arcu et ex accumsan, non interdum justo pellentesque. Nunc congue, mauris ut pretium lacinia, felis nisi congue ex, eget eleifend dui libero sed ex. Aliquam tempor, nisl vitae posuere dignissim, libero purus dictum tellus, ac fermentum elit quam a quam. </p>

</div>