<div class="header-wrapper">
    <div class="interactive-wrapper">
        <div class="int-tag">12 months on</div>
        <h1><span>{{{headline}}}</span></h1>
        <p class="standfirst"><span>{{{standfirst}}}</span></p>
        <div class="img-credit-header">Source: Mohammed Abed, AFP/Getty Images</div>
    </div> 
</div>
<div class="interactive-wrapper interactive-wrapper--main">
    <div class="int-byline"><a href="https://www.theguardian.com/profile/oliver-holmes">Oliver Holmes</a> and <a href="https://www.theguardian.com/profile/josh-holder">Josh Holder</a>
        <div class="int-date">Wed 30 Jan 2019 11.00 GMT</div>
    </div>
    {{#topText}}
        <p>{{{.}}}</p>
    {{/topText}}
    <div class="scroll-wrapper">
        <div class="scroll-inner"> 
            
        </div>  
        <div class="scroll-text"> 
            {{#scrollCards}}
                <div class="scroll-text__inner">
                    <div class="scroll-text__div">
                        <img src="{{imgSrc}}">
                        <div class="vote-title">{{title}}</div>
                        <p>{{{standfirst}}}</p>
                        <div class="img-src">{{imgSrcText}}</div>
                    </div> 
                </div>  
            {{/scrollCards}} 
        </div>
    </div>
    {{#bottomText}}
        <p>{{{.}}}</p>
    {{/bottomText}}
    <h2>How has life in Gaza changed since the protests began?</h2>
    {{#lineChartText}}
        <p>{{{.}}}</p>
    {{/lineChartText}}
    <div class="line-charts">
        {{#lineCharts}}
            <div class="line-wrapper">
                <h3>{{title}}</h3>
                <div class="inner">

                </div>
                <p>{{words}}</p>
                <div class="source">{{source}}</div>
            </div>
        {{/lineCharts}}
    </div>
</div>