@import "mq";
@import "fonts";
@import "palette";
// Uncomment for embeds
//@import "embed";
// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

html,body {
    background-color: #fff; 
}

.element-atom,
.interactive-atom {
    margin: 0 !important;

    svg {
        overflow: visible;
    }
}

.l-footer {
    display: block !important;
}

h1 {
    @include fs-header(5);
    // font-weight: 900;
    // font-size: 42px;
    // line-height: 54px;
    padding-left: 10px;
    margin-left: 10px;

    span {
        color: #fff;
        display: inline;
        padding-bottom: .1em;
        background: linear-gradient(#121212, #121212) no-repeat;
        box-shadow: 6px 0 0 #121212, -12px 0 0 #121212;
        font-size: 56px;
        line-height: 1.34;

        @include mq($until: tablet) {
            font-size: 42px;
        }

        @include mq(wide) {
            box-shadow: 6px 0 0 #121212, -10px 0 0 #121212;
        }
    }
}

.int-tag {
    @include fs-header(2);
    color: #fff;
    background-color: #c70000;
    display: inline-block;
    padding: 2px 5px 5px;
    transform: translateY(2px);
    // margin-top: 24px;

    @include mq(leftCol) {
        margin-left: 160px;
    }

    @include mq(wide) {
        margin-left: 240px;
    }
}

h2 {
    @include fs-header(5);
    margin-bottom: 4px;
    margin-top: 24px;
}

h3 {
    @include fs-header(3);
    // margin-bottom: 24px;
    margin: 0;
    min-height: 0 !important;
}


.standfirst {
    font-size: 16px;
    line-height: 20px;
    font-family: "Guardian Headline","Guardian Egyptian Web","Guardian Headline Full",Georgia,serif;
    font-weight: normal;
    font-size: 22px;
    line-height: 31px;
    display: block;
    margin-top: 4px;
    // margin-bottom: 12px;
    color: #000;
    font-weight: 300;
    font-style: italic;
    // border-bottom: 1px solid #dcdcdc;
    // padding-bottom: 12px !important;
    max-width: 480px !important;


    span {
        display: inline;
        // color: #000;
        display: inline;
        padding-bottom: .1em;
        background: linear-gradient(#fff, #fff) no-repeat;
        box-shadow: 5px 0 0 #fff, -10px 0 0 #fff;
        // font-size: 50px;
        // line-height: 1.34;
    }
}

.header-wrapper {
    .interactive-wrapper {
        padding-top: 30vh;

        @include mq($until: tablet) {
            padding-top: 5vh;
        }
    }
}

.interactive-wrapper--main {
    position: relative;
    &:before {
        content: ' ';
        position: absolute;
        // top: 24px;
        height: 100%;
        min-height: 500px;
        width: 1px;
        background-color: #dcdcdc;
        z-index: 0;
        // top: 600px;
        left: calc(50% - 1px);
        display: none;

        @include mq(leftCol) {
            top: 0px;
            // display: block;
            display: block;
            left: calc((100% - 1140px)/2 + 160px);
        }

        @include mq(wide) {
            left: calc((100% - 1300px)/2 + 240px);
        }
    }
}

.interactive-wrapper {

    margin: auto;
    // border-left: 1px solid #dcdcdc;
    box-sizing: border-box;
    // border-right: 1px solid #dcdcdc; 

    @include mq(tablet) {
        max-width: 740px;
    }

    @include mq(desktop) {
        max-width: 960px;
    }

    @include mq(leftCol) {
        max-width: 1140px;
    }

    @include mq(wide) {
        max-width: 1300px;
    }

    p, h1,h2, .int-byline {
        padding-left: 10px;
        padding-right: 10px;

        max-width: 620px;

        @include mq(leftCol) {
            padding: 0;
            width: 620px;
            margin-left: 170px;
        }

        @include mq(wide) {
            padding: 0;
            width: 620px;
            margin-left: 250px;
        }
    }

    .int-date {

    }

    h1 {
        padding: 0;
    }
}

.int-byline {
    @include fs-header(1);
    color: #767676;
    display: block;
    font-weight: 400;
    font-style: italic;
    a {
        font-weight: 700;
        color: #c70000;
        font-style: normal;
    }
    min-height: 48px;
    // border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    // padding-top: 2px !important;
    margin-bottom: 6px;
    // background-image: repeating-linear-gradient(to bottom, #dcdcdc, #dcdcdc 0.0625rem, transparent 0.0625rem, transparent 0.25rem);
    background-repeat: repeat-x;
    background-position: top; 
    background-size: 6px 10px;
    padding-top: 6px !important;
}

.int-date {
    @include fs-textSans(1);
    color: #767676;
    display: block;
    padding-top: 6px;
    font-style: normal;
}

.img-credit-header {
    position: absolute;
    bottom: 0;
    right: 5px;
    color: #fff;
    @include mq(desktop) {
        transform: translateY(18px);
        color:#bdbdbd;
    }   
    @include fs-textSans(1);
    
}

.header-wrapper {
    height: 100vh;
    position: relative;
    width: 100%;
    background-image: url("https://media.guim.co.uk/9d1734a0bd892cdb2634df9a9a0d0472f2648478/0_0_5520_3600/2000.jpg");
    background-size: cover;
    background-position: center;

    @include mq($until: 320px) { 
        background-image: url("https://media.guim.co.uk/9d1734a0bd892cdb2634df9a9a0d0472f2648478/0_7_5520_3312/1000.jpg");
    }
}

.scroll-wrapper {
    // @include mq($until: desktop) {
    //     height: 200vh; 
    // }
    height: 400vh;  
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    width: 100%;
    height: 400vh;  
    background-color: #fff;
    // border-left: 1px solid red;
    // border-right: 1px solid red;
    box-sizing: border-box;
    margin: auto; 
    @include mq($until: tablet) {
        margin-bottom: 240px;
    }
    position: relative;
    z-index: 1;
    // margin-top: 800px;
    // margin-bottom: 800px;
    // background-color: red;
    // position: relative;
    // z-index: 100;
    // margin-top: 108px; 
}

.scroll-text__inner {
    // opacity: 0.2;
    transition: opacity 0.5s ease-in-out;

    &:first-of-type {
        opacity: 1;
    }
}

.scroll-inner {
    height: 100vh;
    // background-color: #fff;
    width: 100%;
    // top: calc((100vh - 100vh)/2);
    position: -webkit-sticky;
    position: sticky; 
    top: 0;

    // position: relative;
    @include mq($until: desktop) {
        z-index: 4000;
        background-color: #fff;
        height: auto;
        border-bottom: 1px solid #dcdcdc;
    }
    
    canvas {
        // position: relative;
        // z-index: 4000;
    }
    
    // overflow: hidden;
    // height: 600px; 
    // transform: translateZ(0);

    &.fixed-top {
        position: fixed;
        top: 0;

        @include mq(desktop) {
            transform: translateX(calc((100vw - 960px)/-1));
        }

        @include mq(leftCol) {
            transform: translateX(calc((100vw - 1140px)/-1));
        }

        @include mq(wide) {
            transform: translateX(calc((100vw - 1300px)/-1));
        }
    }

    &.absolute-top {
        position: absolute;
        top: 0;
    }

    &.absolute-bottom {
        position: absolute;
        bottom: 0;
    }
}

.p-wrapper {
    max-width: 620px;
    margin-left: 240px;
    position: fixed;
    bottom: 48px;
    z-index: 200; 
}

.scroll-text {
    position: absolute;
    top: 0;
    // @include mq($until: desktop) {
    // transform: translateY(700px);
    // }
    // width: 100%;

    p {
        padding: 0;
        margin: 0;
        width: auto;
    }

    button {
        position: absolute;
        top: 0;
        z-index: 200;
    }
    margin-bottom: 100vh;
}

.scroll-text__div {
    max-width:420px;
    margin-left: 10px; 
    margin-right: 10px;
    // margin-bottom: 12px;
    // @include mq(leftCol) {
    //     margin-left: 170px;
    // }
    // @include mq(wide) {
    //     margin-left: 250px;
    // }
    background-color: #fff;
    @include fs-headline(2);
    line-height: 24px;
    @include mq(desktop) {
        @include fs-headline(3);
        font-size: 16px;
        line-height: 24px;
        border: 2px solid #000;
        // box-shadow: 3px 4px 0 0 #ffe500;
        box-sizing: border-box;
        padding: 6px 10px 12px;
    } 

    img {
        width: calc(100% + 20px);
        margin-left: -10px;
        margin-top: -6px;
    }

}

.vote-title {
    font-weight: bold;
    padding-top: 6px;
    padding-bottom: 6px;
}

.scroll-text__inner {
    padding-top: 10%;
    // @include mq($until: desktop) {
    //     height: 100vh;
    // }
    height: 100vh;
    position: relative;
    z-index: 100;
    box-sizing: border-box;
    // background-color: red;
    // border: 1px solid blue;

    &:first-of-type {
        // transform: translateY(55vh);
    }
}

//chart 

.line-charts {
    margin: 0;
    // padding-left: 20px;
    // padding-right: 20px;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    padding-top: 4px;
    margin-top: 36px;
    margin-bottom: 24px;
    position: relative;
    z-index: 2;  
    background-color: #fff;

    @include mq(leftCol,wide) {
        padding-left: 160px;
    }

    p {
        margin: 0;
        width: 100%;
        margin-bottom: 36px;
        // margin-top: 6px;
        // @include fs-textSans(3);
        color: #767676;
        @include fs-bodyCopy(1);
    }

    h3 {
        min-height: 48px;
    }
}

.img-src {
    @include fs-textSans(1);
    color: #bdbdbd;
    padding-top: 8px;

    &:before {
        content: 'Photo source: ';
    }
}

.line-wrapper {
    display: inline-block;
    margin-right: 46px;
    vertical-align: top;
    // border-top: 1px solid #dcdcdc;
    width: 100%;
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
    position: relative;

    p {
        padding: 0;
        margin-bottom: 12px;
    }

    .source {
        padding: 0;
        @include fs-textSans(2);
        margin-bottom: 24px;        
        color: #bdbdbd;

        &:before {
            content: "Source: ";
        }
    }

    @include mq(tablet) {
        width: 400px;
    }
    @include mq(tablet,wide) {
        &:nth-of-type(2n) {
            margin-right: 0;
        }
    }
    @include mq(wide) {
        &:nth-of-type(3n) {
            margin-right: 0;
        }
    }
}

.tick:last-of-type {
    // text {
    //     text-anchor: end;
    // }
}

.big-number {
    @include fs-textSans(3);
    margin-bottom: 24px;
    margin-top: -6px;
    span {
        @include fs-titlepiece(1);
        font-size: 28px;
        color: #ff4e36;
        display: inline-block;
        margin-right: 3px;
    }
}

.line-wrapper svg {
    display: block;
    margin-bottom: 36px; 
    overflow: visible !important;
    // margin-left: 240px;

    text {
        @include fs-textSans(1);
    }

    circle {
        fill: #fff;
        stroke: #ff4e36;
        stroke-width: 1.5;

        &.circle-hashed {
            stroke: #dcdcdc;
        }
    }
}

.area {
    stroke:none;
    fill: url('#myGradient'); 
    fill: none;
    // fill: none;
    // stroke-width: 2; 
}

.area-hashed {
    stroke: none;
    // fill: url(#psfll);
    fill: url('#myGradient2'); 
    fill: none;
    // fill: none;
}

.line {
    stroke: #ff4e36;
    fill: none;
    stroke-width: 1.5;
}

.line-hashed {
    stroke: #dcdcdc;
    fill: none;
    stroke-width: 2;
}


.y.axis {
    path {
        display: none;
    }

    line {
        stroke: #dcdcdc;
        stroke-dasharray: 1,1;
        // display: none;
    }
}

.x.axis {
    line {
        stroke: #dcdcdc;
    }

    .domain {
        stroke: #dcdcdc;
    }
}