@import "mq";
@import "fonts";
@import "palette";
// Uncomment for embeds
//@import "embed";
// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

html,body {
    background-color: #161616;
}

.element-atom,
.interactive-atom {
    margin: 0 !important;

    svg {
        overflow: visible;
    }
}

